<body>
  <app-nav-bar></app-nav-bar>
  <br>
  <h1 style="text-align:center ;">Seleccionar Habitación</h1>
  <hr style="margin: 3rem;">
  <br>
<div id="w">
    
        <div class="card">
          <div class="row">
            <div class="col-sm-7">
              <div class="card-block">
                <!--           <h4 class="card-title">Small card</h4> -->
                <p>Wetgple text to build your own card.</p>
                <p>Change around the content for awsomenes</p>
                <a href="#" class="btn btn-primary btn-sm">Read More</a>
              </div>
            </div>
    
            <div class="col-sm-5">
              <img
                class="d-block w-100"
                src="https://picsum.photos/150?image=380"
                alt=""
              />
            </div>
          </div>
        </div>
      

</div>

  
</body>
