<body>
  <app-nav-bar></app-nav-bar>
  <br>
  <h1 style="text-align:center ;">Seleccionar Habitación</h1>
  <hr style="margin: 3rem;">
  <br>
<div *ngFor="let room of arrayRoom" id="w" >
  
        <div  class="card" >
          <div class="row" >
            <div class="col-sm-7">
              <div class="card-block" >
                <!--           <h4 class="card-title">Small card</h4> -->
                <h1 style="text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">{{room.name}}</h1>
                <hr>
                <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 1.55rem;">Tipo de Habitación:{{room.type}}</h2>
                <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 1.55rem;" > Precio: {{'Q ' +room.price}}</h3>
                
              <div  class="multi-buttonA"  style = " margin: 1rem; margin-top: 30%; margin-left: 25%;">
                <button id="b" class="btn btn-success m-3 "
                (click)="updateRoom(room._id)" [routerLink]="['/reservationDates/' + idReservation +'/' + room._id +'/' + idHotel]">Reservar</button>
              </div>

              
              </div>
            </div>
    
            <div class="col-sm-5">
              <img 
                
                src="../../../assets/img/habiAct.png"
                alt=""
              />
            </div>
          </div>
        </div>

</div>


  
</body>
