body {
    height: 100%;
  background-image: url('../../../assets/img/fondoBlanco.png') ;
  background-attachment: fixed;
  background-size: cover;
    
  }
  .title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
      
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border:50px;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #000000, 0 0 0 1px #000000;
      margin-top:20px;
      
  }
  
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
      
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
   
  
  .btn {
    margin-top: auto;
  }
  #w{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  img{
    display: flex;
    height: 100%;
  }

  div.card{
    width: 50rem;
    height: 25rem;

  }
   /* BOTON A*/

 .multi-buttonA button{
  height: 41px;
  width: 250px;
  background: linear-gradient(to bottom, #1624e9, #3d01c9);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin: -5px;
  padding: 0;
  stroke: black;
  outline: none;
}
.multi-buttonA :nth-child(1){
  border-radius: 20px 20px 20px 20px;
}
.multi-buttonA :nth-child(3){
  border-radius: 0 20px 20px 0;
}
button:hover{
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active{
  filter: none;
  transform: scale(.95);
}