#menu{
  background: #384044;
  padding-left: 41%;
}
#menu ul li{
  display: inline-block;
  border-right: 1px solid #cccccc;

}
#menu ul li a{
  display: block;
  padding: 15px;
  color: rgba(226, 235, 238, 0.938);
}

#menu ul li:hover{
  color: rgb(50, 2, 104);
  cursor: pointer;
}

#menu ul li:hover a{
  display: block;
  color: rgb(25, 112, 146);

}

/*modal*/

.modal {
  border-radius: 7px;
  overflow: hidden;
  background-color: transparent; }
  .modal .logo a img {
    width: 30px; }
  .modal .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 7px; }
    .modal .modal-content .modal-body {
      border-radius: 7px;
      overflow: hidden;
      background-color: #cccc;
      padding-left: 0px;
      padding-right: 0px;
      -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
      box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9); }
      .modal .modal-content .modal-body h2 {
        font-size: 25px; }
      .modal .modal-content .modal-body p {
        color: rgb(119, 119, 119);
        font-size: 17px; }
      .modal .modal-content .modal-body h3 {
        color: #000;
        font-size: 30px; }
      .modal .modal-content .modal-body .close-btn {
        color: #000; }
      .modal .modal-content .modal-body .promo-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; }
  .modal .cancel {
    color: gray;
    font-size: 17px; }
  .modal .btn-primary {
    padding-top: 10px;
    padding-bottom: 10px; }

.form-control {
  border: transparent;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: none; }
  .form-control:active, .form-control:focus, .form-control:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.btn {
  border-radius: 4px;
  border: none; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.custom-select {
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
  .custom-select:active, .custom-select:focus, .custom-select:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.logo img {
  width: 70px; }

.custom-note {
  color: #999; }
  .custom-note a {
    color: #555;
    font-weight: 900 !important; }

.btn-close{
  margin-right: 10px;
  margin-top: 10px;
}
label{
  font-size: 20px
}


/*Input login*/
input[type=button], input[type=submit], input[type=reset]  {
  background: linear-gradient( #17202A, #ABB2B9);
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
