<body>
    <app-nav-bar></app-nav-bar>
 <br>
    <form action="https://duckduckgo.com/" role="search" class="search-form" style="float: left; margin-left: 2%;">
        <input type="search" name="q"  [(ngModel)]="search" class="search-text" placeholder="Buscar por Hotel..." autocomplete="off">
</form>
<br>
<div *ngFor="let invoice of arrayInvoce | searchF:search"  class="col-md-12">   
    <div style="margin-left: 30%;" class="row">
           
           <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
               <div style="margin-left: 40%" class="row">
                   <div class="receipt-header">
                       <div class="col-xs-6 col-sm-6 col-md-6" style="margin-left: -4%">
                           <div class="receipt-left">
                               <img class="img-responsive" alt="iamgurdeeposahan" src="../../../assets/img/userx.png" style="width: 140px; border-radius: 43px;">
                           </div>
                       </div>
                       <br>
                       <div class="col-xs-6 col-sm-6 col-md-6 text-right " style="margin-left: -25%">
                           <div class="receipt-right" >
                               <h5 style="font-size: 2.20rem; font-family:Georgia, 'Times New Roman', Times, serif" >{{ invoice.user}}</h5>
                           </div>
                       </div>
                   </div>
               </div>
               <br>
               <br>
               
               
               <div>
                   <table class="table table-bordered" style="margin-top: -5%">
                       <thead>
                           <tr>
                               <th style="font-size: 1.10rem; font-family:Georgia, 'Times New Roman', Times, serif">Descripción</th>
                               <th style="font-size: 1.10rem; font-family:Georgia, 'Times New Roman', Times, serif">Monto</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td class="col-md-9" style="font-size: 0.93rem; font-family:Georgia, 'Times New Roman', Times, serif">Habitación: {{ invoice.room}}</td>
                               <td class="col-md-3" style="font-size: 0.93rem; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><i class="fa fa-inr"></i> {{'Q '+ invoice.roomPrice}}</td>
                           </tr>
                           <tr *ngFor="let service of invoice.services">
                               <td class="col-md-9" style=" font-size: 0.93rem;font-family:Georgia, 'Times New Roman', Times, serif">Servicios: {{service.service.name}}</td>
                               <td class="col-md-3" style="font-size: 0.93rem; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><i class="fa fa-inr"></i> Q. {{service.service.price}}</td>
                           </tr>
                           <tr>
                               <td class="col-md-9" style="font-size: 0.93rem; font-family:Georgia, 'Times New Roman', Times, serif">Reservación: {{ invoice.days +' Días'}}</td>
                               <td class="col-md-3" style=" font-size: 0.93rem;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><i class="fa fa-inr"></i> ---</td>
                           </tr>
                           <tr>
                               <td class="text-right">
                               <p>
                                   <strong></strong>
                               </p>
                               
  
                               </td>
                               <td>
                               <p>
                                   <strong ><i class="fa fa-inr"></i> </strong>
                               </p>
                               </td>
                           </tr>
                           <tr>
                            
                              
                               <td class="text-right" style="font-family:Georgia, 'Times New Roman', Times, serif"><h2><strong>Total: </strong></h2></td>
                               <td class="text-left text-danger" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><h2><strong><i class="fa fa-inr"></i> {{'Q ' + invoice.total}}</strong></h2></td>
                           </tr>
                       </tbody>
                   </table>
               </div>
               
               <div class="row">
                   <div class="receipt-header receipt-header-mid receipt-footer">
                       <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                           <div class="receipt-right">
                               <p style="font-size: 0.93rem; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Fecha Inicio:</b> {{invoice.startDate | date:'medium':'GMT' +'	-'}}</p> 
                               <p style="font-size: 0.93rem; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Fecha Final:</b> {{invoice.finishDate | date:'medium':'GMT'}}</p>

                           </div>
                       </div>
                       <div class="col-xs-4 col-sm-4 col-md-4" style="float: right; ">
                           <div class="receipt-left">
                            <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><img src="../../../assets/img/hotel.jpg"  alt="" width="45rem" height="40rem" style= "margin-top: -1%; border-radius: 34%;"> Hotel: {{ invoice.hotel}}</h1>
                           </div>
                       </div>
                   </div>
               </div>
               
           </div>    
       </div>
   </div>

</body>