<body>
    <app-nav-bar></app-nav-bar>
    <br>
  <h1 style="text-align:center ;">Seleccionar la Fecha</h1>
  <hr style="margin: 3rem;">
  <br>
  <div id="divDate" >
    <h4 style="text-align: center;">FECHAS OCUPADAS</h4>
    <ul style="text-align: center;" *ngFor="let room of roomDates.dates">{{room.date.startDate | date:'medium':'GMT'}} ---- {{room.date.finishDate | date:'medium':'GMT'}}</ul>
  </div>
<div id="global">
  
  <div id="contenedorFechas">
    
    <div class="form-group">
        <label for="start">Fecha Inicio</label> <br>
        <input [(ngModel)]="this.dates.startDate" name="start" type="date">
    </div>
    
    <div class="form-group" >
      <label for="finish">Fecha Final</label> <br>
      <input [(ngModel)]="this.dates.finishDate" name="finish" type="date">
  </div>
  
  <div id="divBoton">
    <button class="noselect" (click)="pushDate()"  style="align-items: center;">Confirmar Fecha</button>
  </div>

</div>
 
  </div>
</body>
