<nav *ngIf="!role" id="menu">
  <button id="regresar" class="btn btn-success " routerLink="/home"> Regresar </button>
</nav>

<app-nav-bar *ngIf="role"></app-nav-bar>
<br>
<br>

<span *ngIf="role =='ADMIN-APP'"  style="margin-left: 160vh;" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><a  ></a></span>
<div style="text-align: center;">
  <h1>HOTELES</h1>
  <hr>
</div>
<body >
    <div class="row">
    <div class="container"  *ngFor="let hotel of hotels">
        <div class="card">
            <div class="face face1" >
                <div class="content" >
                    <img src="../../../assets/img/hotel.jpg">
                    <h3>{{hotel.nameHotel}}</h3>
                </div>
            </div>
            <div class="face face2"  >
                <div class="content">
                   <h5>Dirección: {{hotel.direction}}</h5>
                    <h5>Contacto: {{hotel.phone}}</h5>
                    <h5>Email: {{hotel.email}}</h5>
                    <div>
                    <div  class="multi-buttonA"  style = "float:none; margin-top: 20%; align-items: center; margin-left: 3%;">
                        <button *ngIf="role == 'CLIENT'" id="a" class="btn btn-success "  [routerLink]="['/dataHotels/' + hotel._id]" >Ver más</button>
                      </div>
                      <div  class="multi-buttonA"  style = "float:none; margin-top: 20%; align-items: center; margin-left: 3%;">
                        <button *ngIf="role == 'ADMIN-APP'" id="a" class="btn btn-success"  (click)="deleteHotel(hotel._id)" >Elimnar</button>
                      </div>
                      <div  class="multi-buttonA"  style = "float:none; margin-top: 20%; align-items: center; margin-left: 3%;">
                        <button *ngIf="role == 'ADMIN-APP' and role =='ADMIN-HOTEL'" (click)="getHotel(hotel._id)" id="a" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalCenterHotelUpdate" >Editar</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>]


<!-- Modal Add Hotel -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content rounded -0">
        <div class="modal-body py-0">
          <button  style="float:right" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="d-flex main-content">
            <div class="bg-image promo-img mr-3" style="background-image: url('../../../assets/img/agHotel.png');">
            </div>
            <div class="content-text p-4">
              <h3 *ngIf="role === 'ADMIN-APP'">Agregar Hotel</h3>
              <form #addHotelForm="ngForm">
                <div class="form-group">
                  <label for="name">Nombre del AdminHotel</label>
                  <input [(ngModel)]="createHotel.name" name="name" type="text" class="form-control" id="name" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input [(ngModel)]="createHotel.username"  name="username" type="text" class="form-control" id="username" placeholder="Nombre de usuario">
                  </div>
                  <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input [(ngModel)]="createHotel.password"  name="password" type="password" class="form-control" id="password" placeholder="Contraseña">
                  </div>
                <div class="form-group">
                    <label for="nameHotel">Nombre del Hotel</label>
                    <input [(ngModel)]="createHotel.nameHotel" name="nameHotel" type="text" class="form-control" id="nameHotel" placeholder="Nombre del Hotel">
                  </div>
                  <div class="form-group">
                    <label for="direction">Direction</label>
                    <input [(ngModel)]="createHotel.direction" name="direction" type="text" class="form-control" id="direction" placeholder="Dirreción">
                  </div>
                  <div class="form-group">
                    <label for="phone">Telefono</label>
                    <input [(ngModel)]="createHotel.phone" name="phone" type="text" class="form-control" id="phone" placeholder="Telefono">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input [(ngModel)]="createHotel.email" name="email" type="text" class="form-control" id="email" placeholder="Email">
                  </div>

                <div class="form-group">
                  <div class="multi-buttonA" >
                  <button (click)="addHotel(addHotelForm)" class="btn btn-success m-3 "
                    data-bs-toggle="modal" >Guardar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Actualizar Hotel -->
<div class="modal fade" id="exampleModalCenterHotelUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded -0">
      <div class="modal-body py-0">
        <button  style="float:right" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="d-flex main-content">
          <div class="bg-image promo-img mr-3" style="background-image: url('../../../assets/img/habiAct.png');">
          </div>
          <div class="content-text p-4">
            <h3>Actualizar Hotel</h3>
            <form *ngIf="hotelUpdate">
              <div class="form-group">
                <label for="nameHotel">Nombre del hotel</label>
                <input [(ngModel)]="hotelUpdate.nameHotel" name="nameHotel" type="text" class="form-control" id="nameHotel" placeholder="Nombre de hotel">
              </div>
              <div class="form-group">
                <label for="direction">Direccion del hotel</label>
                <input [(ngModel)]="hotelUpdate.direction" name="direction" type="text" class="form-control" id="direction" placeholder="Direccion">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input [(ngModel)]="hotelUpdate.email" name="email" type="text" class="form-control" id="email" placeholder="Email">
              </div>
              <label for="phone">Telefono</label>
                <input [(ngModel)]="hotelUpdate.phone" name="phone" type="number" class="form-control" id="phone" placeholder="Telefono">
              <div class="form-group">
                <div class="multi-buttonA" >
                  <button (click)="updateHotel()" class="btn btn-success m-3 "
                  data-bs-toggle="modal" >Actualizar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>