body{
  margin: 0;
  padding: 0px;
  display: flex;
  align-items: center;
  margin-left: 1%;
  justify-content: center;
  margin-right: 2%;
  height: 100vmin;
  background-color: white;

  
}
#menu{
background: #273746;
height: auto;
}
#regresar{
margin: 1rem;
}



/*dd*/
:root {
  --gradient: linear-gradient(to left top, #2474dd 10%, #2facff 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  border: 1px solid #06697a;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

/* Botono Acualizar y eliminar */
#actualizar{
  background-color: #F7DC6F;
  border: 4px solid #F1C40F;
  color: black;
  width: 35%;
  margin: 1rem;
}
#actualizar:hover{
  background-color: white;

}
#eliminar{
  background-color: #EC7063;
  border: 4px solid #C0392B;
  color: black;
  width: 35%;
  margin: 1rem;
}
#eliminar:hover{
  background-color: white;

}

/* BOTON A*/

.multi-buttonA button{
  height: 39px;
  width: 200px;
  background:  #117A65;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin: -5px;
  padding: 0;
  stroke: black;
  outline: none;
  margin-left: 21px;
  border: 5px solid #45B39D;
  margin-bottom: 1rem;
}
.multi-buttonA :nth-child(1){
  border-radius: 15px;
}
.multi-buttonA :nth-child(3){
  border-radius: 0 20px 20px 0;
}
button:hover{
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active{
  filter: none;
  transform: scale(.95);
}
 /* BOTON B*/

 .multi-buttonB button{
  height: 39px;
  width: 200px;
  background: #117A65;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin: -5px;
  padding: 0;
  stroke: black;
  outline: none;
  margin-left: 21px;
  border: 5px solid #45B39D;
}
.multi-buttonB :nth-child(1){
  border-radius: 20px 20px 20px 20px;
}
.multi-buttonB :nth-child(3){
  border-radius: 0 20px 20px 0;
}
button:hover{
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active{
  filter: none;
  transform: scale(.95);
}

/* boton agregar */

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}
span a:before,
span a:after{
  position: absolute;
  content: "Agregar Hotel";
  height: 55px;
  width: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
/* Modal */

.modal {
  border-radius: 7px;
  overflow: hidden;
  background-color: transparent; }
  .modal .logo a img {
    width: 30px; }
  .modal .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 7px; }
    .modal .modal-content .modal-body {
      border-radius: 7px;
      overflow: hidden;
      background-color: #A9CCE3;
      padding-left: 0px;
      padding-right: 0px;
      -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
      box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9); }
      .modal .modal-content .modal-body h2 {
        font-size: 18px; }
      .modal .modal-content .modal-body p {
        color: rgb(119, 119, 119);
        font-size: 14px; }
      .modal .modal-content .modal-body h3 {
        color: #000;
        font-size: 22px; }
      .modal .modal-content .modal-body .close-btn {
        color: #000; }
      .modal .modal-content .modal-body .promo-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; }
  .modal .cancel {
    color: gray;
    font-size: 14px; }
  .modal .btn-primary {
    padding-top: 10px;
    padding-bottom: 10px; }

.form-control {
  border: transparent;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: none; }
  .form-control:active, .form-control:focus, .form-control:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.btn {
  border-radius: 4px;
  border: none; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.custom-select {
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
  .custom-select:active, .custom-select:focus, .custom-select:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.logo img {
  width: 70px; }

.custom-note {
  color: #999; }
  .custom-note a {
    color: #555;
    font-weight: 900 !important; }

.btn-close{
  margin-right: 10px;
  margin-top: 10px;
}


 /* Buscador */


 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1, input{
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

form{
	padding: 0;
  margin: 0;
}
/* Expandable search box */
/* Note: don't change 0.8s in transition. */
/* --------------------- */
input.search-text {
	color: #222;
	position:relative;
	z-index:5;
	height: 45px;
	padding: 5px 0 5px 40px;
	font-size: 16px;
	font-size: 1rem;
  width: 330px;
	border-radius: 30px;
	border: 1px solid rgb(94, 93, 93);
	/*background: url(search.png) no-repeat left 9px center transparent;*/
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik01MDMuODY2LDQ3Ny45NzRMMzYwLjk1OCwzMzUuMDUyYzI4LjcyNS0zNC41NDQsNDYuMDE3LTc4LjkxMiw0Ni4wMTctMTI3LjMzNiAgYzAtMTEwLjA4NC04OS4yMjctMTk5LjMxMi0xOTkuMzEyLTE5OS4zMTJDOTcuNTk5LDguNDAzLDguMzUxLDk3LjYzMSw4LjM1MSwyMDcuNzE1YzAsMTEwLjA2NCw4OS4yNDgsMTk5LjMxMiwxOTkuMzEyLDE5OS4zMTIgIGM0OC40MzUsMCw5Mi43OTItMTcuMjkyLDEyNy4zMzYtNDYuMDE3bDE0Mi45MDgsMTQyLjkyMkw1MDMuODY2LDQ3Ny45NzR6IE0yOS4zMzEsMjA3LjcxNWMwLTk4LjMzNCw3OS45ODctMTc4LjMzMiwxNzguMzMyLTE3OC4zMzIgIGM5OC4zMjUsMCwxNzguMzMyLDc5Ljk5OCwxNzguMzMyLDE3OC4zMzJzLTgwLjAwNywxNzguMzMyLTE3OC4zMzIsMTc4LjMzMkMxMDkuMzE4LDM4Ni4wNDcsMjkuMzMxLDMwNi4wNSwyOS4zMzEsMjA3LjcxNXoiIGZpbGw9IiMzNzQwNEQiLz48L3N2Zz4=) no-repeat left 9px center transparent;
  background-size:24px;
}
input.search-text:focus {
	z-index:3; 
	width: 330px;
	border: 1px solid #666;  
	background-color: white;
	outline: none;

	padding-right: 10px;
}

input.search-submit {
	position: relative;
	z-index: 4;
	top:17px;
	left: 49px;
	width: 45px;
	height: 45px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	border-radius: 30px;
}

input.search-text::-webkit-search-cancel-button {
	cursor:pointer;
}

/*Botones*/

#divBtn{
  background-color: #273746 ;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: -1rem;

}

#boton{
  height: 3rem;
  width: 13rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: white;
  text-decoration-color: black;
  border: solid 4px #808B96;
  border-radius: 8px;
}
#boton:hover{
  border: solid 4px #5499C7;
  height: 3.2rem;
  width: 13.2rem;
}