<body>
   <app-nav-bar></app-nav-bar>
  <div class="text-center">

  </div>
  <div class="hola" style="margin-top: -5%">
    <br>
      <div class="table-users " style="width: 100%">
        <div class="header" style="font-family:Georgia, 'Times New Roman', Times, serif">Usuarios</div>
    
        <table cellspacing="0">
          <thead>
            <tr>
              <th >ID</th>
              <th> Nombre </th>
              <th>Nombre de Usuario</th>
              <th>Hospedado</th>
              
           </tr>
    
          </thead>
      
          <tbody>
            <tr >
              <td >N..}</td>
              <td>name..</td>
              <td>username..</td>
              <td>habitacion..</td>
           </tr>
    
          </tbody>
           
          </table>
        </div>
      </div>
</body>