body {
  height: 100%;
  background-image: url('../../../assets/img/fondoBlanco.png') ;
  background-attachment: fixed;
  background-size: cover;
  }
  .title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #000000, 0 0 0 1px #d4d4d5;
      margin-top:20px;
  }
  
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
   
  
  .btn {
    margin-top: auto;
  }
  #w{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img{
    display: flex;
    height: 100%;
  }

  div.card{
    width: 50rem;
    height: 25rem;

  }

    /* BOTON A*/

 .multi-buttonA button{
  height: 41px;
  width: 250px;
  background: linear-gradient(to bottom, #1624e9, #3d01c9);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin: -5px;
  padding: 0;
  stroke: black;
  outline: none;
}
.multi-buttonA :nth-child(1){
  border-radius: 20px 20px 20px 20px;
}
.multi-buttonA :nth-child(3){
  border-radius: 0 20px 20px 0;
}
button:hover{
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active{
  filter: none;
  transform: scale(.95);
}
/* boton conf - cancel */

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}
span a:before,
span a:after{
  position: absolute;
  content: "Confirmar";
  height: 55px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


.multi-buttonD button{
  height: 41px;
  width: 160px;
  background: linear-gradient(to bottom, #01ca4e, #15ffa5);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin: -5px;
  padding: 0;
  stroke: black;
  outline: none;
}
.multi-buttonD :nth-child(1){
  border-radius: 20px 20px 20px 20px;
}
.multi-buttonD :nth-child(3){
  border-radius: 0 20px 20px 0;
}
button:hover{
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active{
  filter: none;
  transform: scale(.95);
}

/*cancelar*/

.multi-buttonC button{
  height: 41px;
  width: 160px;
  background: linear-gradient(to bottom, #cc0811, #3d040b);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  margin: -5px;
  padding: 0;
  stroke: black;
  outline: none;
}
.multi-buttonC :nth-child(1){
  border-radius: 20px 20px 20px 20px;
}
.multi-buttonC :nth-child(3){
  border-radius: 0 20px 20px 0;
}
button:hover{
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active{
  filter: none;
  transform: scale(.95);
}